.text-plant {
  text-align: left;
  font-size: x-large;
}
.p-box {
  text-align: left;
}
.p-box img {
  width: auto;
  margin-left: 0px;
}
.p-image img {
  width: 100%;
  height: 300px;
}
.text-link {
  text-decoration: none;
  color: black;
  display: inline-block;
}
.text-link:hover {
  text-decoration: none;
  color: #9ac741;
}
.text-plant h2 {
  display: inline-block;
}
.form-note {
  position: relative;
}
.button-note {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.text-note {
  float: left;
}
